<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Controller</string>
		<string>Controller_Catapult</string>
		<string>Controller_Minter</string>
		<string>Controller_SplitScreen</string>
		<string>Controller_TapAction</string>
		<string>Controller_VirtualSlider</string>
		<string>Controller_VirtualStick</string>
		<string>Controller_All</string>
		<string>Controller_Trackball</string>
	</array>
	<key>Created</key>
	<date>2011-11-11T00:42:24Z</date>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
